@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.container {
  max-width: 1170px;
  margin: auto;
}

#header {
  background: url("../img/headerBG.png") no-repeat;
  background-size: 100%;
  padding: 15px 0px 220px 0px;
}
#header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}
#header .navigation .logo {
  font-family: Dancing Script;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 60px;
  color: #fff;
}
#header .navigation .navGroup {
  display: flex;
}
#header .navigation .navGroup .navItem {
  margin-right: 28px;
}
#header .navigation .navGroup .navItem:last-child {
  margin-right: 0px;
}
#header .navigation .navGroup .navItem .navLink {
  font-family: Open Sans;
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 16px;
  color: #fff;
  transition: all 0.2s linear;
}
#header .navigation .navGroup .navItem .navLink:hover {
  color: #000;
}
#header .offer {
  display: flex;
  justify-content: flex-end;
  padding-right: 150px;
}
#header .offer .offerGroup {
  display: flex;
  flex-direction: column;
}
#header .offer .offerGroup .offerTitle {
  font-family: Open Sans;
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 40px;
  color: #fff;
  margin-bottom: 10px;
}
#header .offer .offerGroup .offerBody {
  font-family: Open Sans;
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}
#header .offer .offerGroup .offerBtn {
  font-family: Open Sans;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 25px;
  color: #fff;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: all 0.2s linear;
}
#header .offer .offerGroup .offerBtn:hover {
  background: #fff;
  color: #000;
}

#digits {
  padding: 80px 0px 100px 0px;
}
#digits .colorsGroup {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}
#digits .colorsGroup .colorsTitle {
  font-family: Open Sans;
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 30px;
  color: #000;
  margin-bottom: 28px;
}
#digits .colorsGroup .colorsBody {
  font-family: Open Sans;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 22px;
  font-size: 14px;
  color: #000;
  width: 970px;
  margin-bottom: 55px;
}
#digits .colorsGroup .fifthColors {
  display: flex;
  width: 180px;
  height: 30px;
}
#digits .colorsGroup .fifthColors .colorItem {
  width: 20%;
  height: 100%;
}
#digits .colorsGroup .fifthColors .colorItem:nth-child(1) {
  background: #ee732f;
}
#digits .colorsGroup .fifthColors .colorItem:nth-child(2) {
  background: #f74c55;
}
#digits .colorsGroup .fifthColors .colorItem:nth-child(3) {
  background: #2d5f3b;
}
#digits .colorsGroup .fifthColors .colorItem:nth-child(4) {
  background: #404040;
}
#digits .colorsGroup .fifthColors .colorItem:nth-child(5) {
  background: #fb636b;
}

#colorTriggers .triggersGroup {
  width: 100%;
  display: flex;
}
#colorTriggers .triggersGroup .colTrigger:nth-child(1) {
  width: 35%;
  padding: 30px 0px 30px 160px;
  background: #404040;
}
#colorTriggers .triggersGroup .colTrigger:nth-child(2) {
  width: 30%;
  padding: 30px 40px 30px 100px;
  background: #f74c55;
}
#colorTriggers .triggersGroup .colTrigger:nth-child(3) {
  width: 35%;
  padding: 30px 160px 30px 80px;
  background: #2d5f3b;
}
#colorTriggers .triggersGroup .colTrigger .triggerContent .triggerTitle {
  font-family: Open Sans;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 22px;
  color: #fff;
  margin-bottom: 15px;
}
#colorTriggers .triggersGroup .colTrigger .triggerContent .triggerTitle .fa-chart-line, #colorTriggers .triggersGroup .colTrigger .triggerContent .triggerTitle .fa-tablet-alt, #colorTriggers .triggersGroup .colTrigger .triggerContent .triggerTitle .fa-cloud-upload-alt {
  margin-right: 10px;
}
#colorTriggers .triggersGroup .colTrigger .triggerContent .triggerBody {
  font-family: Open Sans;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 22px;
  font-size: 14px;
  color: #fff;
  width: 270px;
}
#colorTriggers .triggersGroup .plusGroup {
  display: flex;
  justify-content: flex-end;
}
#colorTriggers .triggersGroup .plusGroup .plus {
  width: 33px;
  height: 33px;
  background: #272727;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s linear;
}
#colorTriggers .triggersGroup .plusGroup .plus:hover {
  background: #000;
}
#colorTriggers .triggersGroup .plusGroup .plus .fas {
  font-size: 20px;
  color: #fff;
}

#music {
  background: url("../img/musicBg.png") no-repeat;
  background-size: 100%;
  padding: 170px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#music .musicTitle {
  font-family: Open Sans;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 50px;
  font-size: 42px;
  color: #fff;
  width: 655px;
  margin-bottom: 40px;
}
#music .musicBtn {
  font-family: Open Sans;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 24px;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: all 0.2s linear;
}
#music .musicBtn:hover {
  background: #fff;
  color: #000;
}

#tenColors {
  background: url("../img/colorsBg.png") no-repeat;
  background-size: 100%;
  padding: 5px 0px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0px;
}
#footer .footerCopyright {
  font-family: Open Sans;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 16px;
  color: #000;
}